@import '../mixin.scss';
.layout{
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  background: #f2f2f2;
  width: 100%;
  overflow-x: hidden;
    &.compase{
      margin: 0 0 0 $side-width-active
    }
  .layoutheader {
    height: 64px;
    line-height: 64px;
    flex: 0 0 auto;
    position:fixed;
    top:0;
    z-index: 2
}
.headercontent{
  height: 64px;
  padding: 0 12px 0 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
    position: relative;
    .js_control{
      font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    -webkit-transition: all .3s,padding 0s;
    transition: all .3s,padding 0s;
    padding: 0 24px;
    float: left;
    }
    .rightheader{
      float: right;
      height: 100%;
      i{
        font-size: 20px;
        line-height: 64px;
    cursor: pointer;
    -webkit-transition: all .3s,padding 0s;
    transition: all .3s,padding 0s;
    padding: 0 25px;
      }
      .avatarcontent{
       padding: 0 20px;
       vertical-align: middle;
       .zent-avatar{
         vertical-align: middle
       }
      }
    }
}
}
